{
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true,
    "amd": true
  },

  "rules": {
    "space-infix-ops": 2,
    "semi": [2, "always"],
    "no-unused-vars": 2,
    "react/jsx-uses-vars": 2,
    "quotes": [1, "single"],
    "guard-for-in": 1,
    "indent": [1, 2, { "SwitchCase": 1 }],
    "brace-style": 1,
    "no-underscore-dangle": 0,
    "no-undef": 2,
    "react/jsx-no-undef": 2,
    "react/prop-types": 1,
    "react/wrap-multilines": 1,
    "react/jsx-uses-react": 1,
    "keyword-spacing": [2, {"before": true, "after": true}],
    "strict": 0,
    "new-cap": 0,
    "comma-dangle": 2,
    "constructor-super": 2,
    "no-console": 2,
    "no-constant-condition": 2,
    "no-const-assign": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-dupe-class-members": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-obj-calls": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "valid-typeof": 2,
    "lines-around-comment": [
      2,
      {
        "allowBlockStart": true,
        "allowObjectStart": true,
        "allowArrayStart": true
      }
    ]
  },

  "globals": {
    "module": false,
    "inject": false,
    "browser": false,
    "by": false,
    "angular": false,
    "sinon": false
  },

  "plugins": [
    "react"
  ]
}
