/* TopArtist */
.TopArtist {
  margin-bottom: 5rem;
}

.TopArtist a:link,
.TopArtist a:visited {
  color: #111111;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
}

.TopArtist a:active {
  text-decoration: none;
}

.TopArtist a:hover {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.TopArtist__info {
  padding: 1rem 0 0.7rem 0.7rem;
  width: 300px;
}

.TopArtist__date {
  font-size: 80%;
}
