/*------------------------------------*\
    BASE
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%; }

body {
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: grey;
  background-color: #9c0000;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23f61d08' fill-opacity='0.34' fill-rule='evenodd'/%3E%3C/svg%3E");
  /*http://www.heropatterns.com/*/
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {text-decoration: none;}

a:focus,
a:hover,
a:active {
  outline: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

.App {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-size: 2rem;
  padding-top: 3rem;
}

.grid {
  width: 30rem;
  margin: 0 auto;
}
