/*------------------------------------*\
    BASE
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%; }

body {
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {text-decoration: none;}

a:focus,
a:hover,
a:active {
  outline: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}
