/* Sidebar */

.Logo {
  width: 5rem;
}

.Sidebar {
  width: 100%;
  position: relative;
  padding-bottom: 3rem;
  text-align: center;
  font-weight: 800;
}

@media screen and (min-width: 990px) {
  .Sidebar {
    width: auto;
    position: fixed;
    right: 20px;
    text-align: right;
  }
}
