/* Sidebar */

.Logo {
  width: 5rem;
}

.Sidebar {
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
}

@media screen and (min-width: 860px) {
  .Sidebar {
    position: fixed;
    right: 20px;
    width: auto;
    text-align: right;
  }
}
