/* Usercard */
.User {
  font-size: 2rem;
  width: 25rem;
  margin: 5px auto;
  color: #fff;
}

@media screen and (min-width: 860px) {
  .User {
    width: auto;
    border: 0;
  }
}

.User__info {
  margin: 0 auto;
  padding: 1rem 0.7rem 0.7rem 0;
}

.User__info li,
.User__info a, {
  color:#fff;
  text-align: right;
}

.User__info a:hover, {
  background-color: rgba(255,255,255,0.4);
}

.User__info li span{
  font-size: 1.5rem;
  font-style: italic;
  margin-right: 5px;
}
