.Name {
  color: white;
  font-size: 2rem;
}

.Logo {
  width: 5rem;
}

/* Usercard */
.User {
  font-size: 2rem;
  width: 25rem;
  margin: 5px auto;
  color: #fff;
}

@media screen and (min-width: 860px) {
  .User {
    width: auto;
    border: 0;
  }
}
